<form (ngSubmit)="onSubmit()" #registrationForm="ngForm">
    <div>
        <div class="greenTitle">השלימו את מספר התלמידים במקום המתאים</div>
        <div>
            <label class="greenTitle" id="borderBottom">מספר התלמידים הנבחנים </label>
            <div class="dislayFlex">
                <label>בוקר
                    <input type="number" [(ngModel)]="updateRequest.MorningTesters" name="morning" required min="1"
                        #morning="ngModel" />
                    <div *ngIf="morning.invalid && (morning.dirty || morning.touched)" class="error-message">
                        <div *ngIf="morning.errors?.['required']">זהו שדה חובה</div>
                        <div *ngIf="morning.errors?.['min']">מספר התלמידים חייב להיות גדול מ-0</div>
                    </div>
                </label>
                <label>צהריים
                    <input type="number" [(ngModel)]="updateRequest.EveningTesters" name="evening" required min="0"
                        #evening="ngModel" />
                    <div *ngIf="evening.invalid && (evening.dirty || evening.touched)" class="error-message">
                        <div *ngIf="evening.errors?.['required']">זהו שדה חובה</div>
                        <div *ngIf="evening.errors?.['min']">מספר התלמידים לא יכול להיות שלילי</div>
                    </div>
                </label>
                <label></label>
                <label></label>
            </div>
        </div>
    </div>

    <div>
        <div class="greenTitle" id="borderBottom">הזינו את פרטי הרכז</div>
        <div class="dislayFlex">
            <label>שם הרכז
                <input type="text" [(ngModel)]="updateRequest.CoordinatorName" name="coordName" required minlength="2"
                    pattern="^[\u0590-\u05FF\s]+$" #coordName="ngModel" />
                <div *ngIf="coordName.invalid && (coordName.dirty || coordName.touched)" class="error-message">
                    <div *ngIf="coordName.errors?.['required']">זהו שדה חובה</div>
                    <div *ngIf="coordName.errors?.['minlength']">שם חייב להכיל לפחות 2 תווים</div>
                    <div *ngIf="coordName.errors?.['pattern']">יש להזין שם בעברית בלבד</div>
                </div>
            </label>
            <label>טלפון רכז
                <input type="text" [(ngModel)]="updateRequest.CoordinatorPhone" name="coordPhone" required
                    pattern="^0[0-9]{8,9}$" #coordPhone="ngModel" />
                <div *ngIf="coordPhone.invalid && (coordPhone.dirty || coordPhone.touched)" class="error-message">
                    <div *ngIf="coordPhone.errors?.['required']">זהו שדה חובה</div>
                    <div *ngIf="coordPhone.errors?.['pattern']">יש להזין מספר טלפון תקין (מתחיל ב-0, 9-10 ספרות)
                    </div>
                </div>
            </label>
            <label>מייל רכז
                <input type="email" [(ngModel)]="updateRequest.CoordinatorEmail" name="coordMail" required email
                    #coordMail="ngModel" />
                <div *ngIf="coordMail.invalid && (coordMail.dirty || coordMail.touched)" class="error-message">
                    <div *ngIf="coordMail.errors?.['required']">זהו שדה חובה</div>
                    <div *ngIf="coordMail.errors?.['email']">יש להזין כתובת מייל תקינה</div>
                </div>
            </label>
        </div>
    </div>

    <div>
        <div class="greenTitle" id="asterisk">היכן תרצו לקבל את החומרים?</div>
        <select class="areas" [(ngModel)]="updateRequest.Moderator" name="area" required #area="ngModel">
            <option class="greenTitle" [ngValue]="undefined">בחר אזור</option>
            <option *ngFor="let m of moderators" [ngValue]="m">
                {{ m.nvLastName }} {{ m.nvRegion }}
            </option>
        </select>

        <div *ngIf="area.invalid && (area.dirty || area.touched)" class="error-message">
            <div *ngIf="area.errors?.['required']">יש לבחור אזור</div>
        </div>
    </div>

    <div>
        <label class="greenTitle">מספר חדרי המעבדה בבית ספרך
            <input type="number" name="labs" min="1" max="10" required [(ngModel)]="updateRequest.LaboratoryRooms"
                (input)="onLabsChange($event)" #labs="ngModel" />
            <div *ngIf="labs.invalid && (labs.dirty || labs.touched)" class="error-message">
                <div *ngIf="labs.errors?.['required']">זהו שדה חובה</div>
                <div *ngIf="labs.errors?.['min']">חייב להיות לפחות חדר מעבדה אחד</div>
                <div *ngIf="labs.errors?.['max'] || labs.value > 10">מספר חדרי המעבדה מוגבל ל-10</div>
            </div>
        </label>
        <br />
        <div *ngIf="examiners.length > 0">
            <label class="greenTitle">שמות מורים מלווים:</label>
            <div class="dislayFlex" id="examinerFlex">
                <div *ngFor="let examiner of examiners; let i = index">
                    <label>שם מורה מלווה ({{examiner}}):
                        <input type="text" [(ngModel)]="updateRequest.AccompanyingTeachers[i]" [name]="'examiner' + i"
                            required pattern="^[\u0590-\u05FF\s]+$" #examinerName="ngModel" style="width: 50%;" />
                        <div *ngIf="examinerName.invalid && (examinerName.dirty || examinerName.touched)"
                            class="error-message">
                            <div *ngIf="examinerName.errors?.['required']">זהו שדה חובה</div>
                            <div *ngIf="examinerName.errors?.['pattern']">יש להזין שם בעברית בלבד</div>
                        </div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="registrationForm.form.dirty && registrationForm.form.touched && isExceedingMaxExaminees()"
        class="error-message">
        ניתן להכניס עד 20 תלמידים בכיתה, יש צורך להוסיף עוד כיתה.
        <br />
        במידה ואין אפשרות יש לפנות לד"ר פרחי וקסמן במייל {{pirchiMail}}.
    </div>

    <div class="submitButton">
        <button type="submit" [disabled]="!registrationForm.form.valid  && isExceedingMaxExaminees()" mat-button>
            <svg class="check-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"
                    d="M20 6L9 17L4 12" />
            </svg>
            <span>עידכון רישום לבגרות</span>
        </button>
    </div>

</form>