
<div>
  <h6 class="greenTitle">בגרות מעבדה {{currentYear}}</h6>
  <div>הרשמה לקבלת חומרים לבחינת הבגרות-
    {{matriculationData?.nvMatriculationName}}<br />
    בחינת הבגרות בתאריך {{matriculationData?.dtMatriculationDate| date:'dd/MM/yyyy'}} (תאריך לא סופי).
  </div>
</div>

<div>
  <h6 class="attention">לתשומת ליבכם:</h6>
  <ul>
    <li>ניתן להרשם לבחינת הבגרות עד התאריך {{matriculationData?.dtStudentsLastUpdateDate| date:'dd/MM/yyyy'}}</li>
    <li>בית ספר שלא יעשה רישום עד תאריך זה לא יקבל חומרים</li>
    <li>ההרשמה הינה חובה גם במידה ואינכם מעוניינים בקבלת החומרים</li>
    <li>הרישום בפיקוח משרד החינוך</li>
    <li>שימו לב, בכל בעיה ברישום לבחינה, יש לפנות בווצאפ בלבד במספר טלפון 054-600-3413</li>
  </ul>
</div>