:host {
  display: block;
  direction: rtl;
  font-family: system-ui, -apple-system, sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.greenTitle {
  color: #26AAA4;
  font-size: 16px;
}

.attention {
  color: #26AAA4;
  font-size: 16px;
}

h6 {
  color: #34495e;
  font-size: 20px;
  margin: 16px 0;
  margin-top: auto;
}

h6 + div {
  font-size: 14px;
}

div {
  margin: 12px 0;
  margin-bottom: 3rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 16px 0;

  li {
    margin: 8px 0;
    padding: 8px;
    background-color: #f8f9fa;
    border-radius: 4px;
    // color: #e74c3c;
    font-size: 14px;

    &::before {
      content: url("http://bagrut.biu-edulab.org.il/static/media/important.0a7f5fc84ad45c98a81c.svg"); //"⚠️";
      margin-left: 8px;
      // position: absolute;
      // right: 0;
      // top: 2px;
    }
  }
}