main {
    direction: rtl;
    padding: 50px;
}

h3 {
    color: #414141;
    font-size: 22px;
    font-weight: 700;
    margin-right: 3rem !important;
}

p{
    text-align: center;
    font-family: BN Anna;
    font-size: x-large;
    font-weight: 800;
}