<main class="main">
  <div class="content">

    <span>בס"ד</span>
    <ng-container *ngIf="!processCompleted; else successMessage">
      <ng-container *ngIf="isRegistrationOpen(); else notOpenOrClosed">
        <h3>רישום לבגרות בר אילן</h3>
        <app-reactive-form (processCompleted)="onProcessCompleted($event)"></app-reactive-form>
      </ng-container>

      <ng-template #notOpenOrClosed>
        <p *ngIf="isRegistrationNotOpened()">הרישום טרם נפתח</p>
        <p *ngIf="isRegistrationClosed()">זמן הרישום עבר</p>
      </ng-template>
    </ng-container>

    <ng-template #successMessage>
      <h3>התהליך הסתיים בהצלחה!</h3>
      <p>אישור רישום עם כל פרטי הרישום נשלח למייל. {{coordinatorEmail}}</p>
      <p>העמוד ייסגר תוך מספר שניות.</p>
    </ng-template>

    
  </div>
</main>
<router-outlet />