@import "./_constants.scss";

html {
    body {
        direction: rtl;
        overflow-x: hidden;
        font-size: 14px;
        font-weight: 600;
        line-height: 25px;
        margin: 0;
        padding: 0;
        padding-right: 0;
        background-image: repeating-linear-gradient(-45deg, #ccc0, #ccc0 3px, #dbdbdbb8 0px, #dbdbdb00 6px);

        .title {
            color: $black;
            font-size: 30px;
            font-weight: bold;
        }

        .content {
            border-top: 4px black solid;
            background-color: $white;

            input {
                background-color: $gray;
                border: none;
                outline: none;
                padding: 6px 12px;
                font-size: 14px;
                line-height: 1.42857143;
                color: $black;
                position: relative;

                &:not([type=radio]) {
                    height: 35px;
                }

                &:focus {
                    border-bottom: 1px $green solid;
                }
            }

            .error {
                color: $red;
                font-size: 10px;
                display: flex;
                padding-inline-start: 2%;
            }

            .importantIcon {
                position: relative;
                padding-right: 35px;

                &::before {
                    content: url(../assets/important.svg);
                    position: absolute;
                    right: 0px;
                    top: 2px;
                }
            }

            .subTitle {
                color: $green;
            }

            .innerTitle {
                color: $green;
                font-size: 22px;
                font-weight: 600;

                +div {
                    font-size: 16px;
                }
            }

            .attention {
                color: $green;
                font-size: 16px;
                font-weight: 600;
            }

            .tableTitle {
                border-bottom: 1px $green solid;
            }

            .table {
                width: 100%;
            }

            .area {
                height: 350px;
                width: 50%;
                overflow: auto;
                overflow-x: auto;

                @media (max-width: 400px) {
                    width: 100%;
                }

                label {
                    display: inline;
                }
            }

        }

        button {
            border-radius: 5px;
            background-color: $green;
            padding: 5px 40px 5px 25px;
            border: none;
            color: $white;
            font-weight: 600;
            position: relative;

            &::before {
                content: url(../assets/check.svg);
                position: absolute;
                right: 15px;
                top: 7px;
            }

            &.disable {
                background-color: #90d1ce;
            }
        }

        .btn-close {
            float: left;
        }
    }

    body,
    #confirmModal {
        padding-right: 0 !important;
    }
}